.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.outline1{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: rgb(241, 241, 239);
    border-radius: 10px;
}
.textfield {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.btn2 {
    width: 300px;
}